@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;900&family=Permanent+Marker&display=swap");

html {
  background: url("../img/smbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrap {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  background-position: center;
}

.wrap header {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap header .logo i {
  color: snow;
}

.wrap header .logo a {
  text-decoration: none;
  color: white;
  font-family: "Permanent Marker", cursive;
  padding: 10px 5px;
  letter-spacing: 1px;
  font-size: 22px;
}

.wrap header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.wrap header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Noto Serif KR", serif;
}

.wrap header nav ul li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

.wrap .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.wrap .content h1 {
  font-family: "Noto Serif KR", serif;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.wrap .content p {
  font-family: "Noto Serif KR", serif;
  font-weight: 100;
  font-size: 17px;
  margin-top: 15px;
}

#test {
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
